<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


      <head>
          <meta charset="UTF-8"/>
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- font -->
          <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet"/>

          <!-- Bootstrap -->


          <!-- Slick -->
          <link rel="stylesheet" type="text/css"  th:href="@{css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" />
          <link rel="stylesheet" type="text/css"  th:href="@{css/ma_slick.css}" href="../static/css/ma_slick.css" />
          <link rel="stylesheet" type="text/css" th:href="@{css/ma_slick-theme.css}" href="../static/css/ma_slick-theme.css" />
          <link rel="stylesheet" type="text/css" th:href="@{css/ma_service.css}" href="../static/css/ma_service.css" >
          <link rel="stylesheet" type="text/css" th:href="@{css/ma_service_joint.css}" href="../static/css/ma_service_joint.css"/>

          <!-- nouislider -->
          <link  rel="stylesheet" type="text/css"  th:href="@{css/ma_nouislider.min.css}" href="../static/css/ma_nouislider.min.css"/>

          <!-- Font Awesome Icon -->
          <link rel="stylesheet"  type="text/css" th:href="@{css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"/>

          <!-- Custom stlylesheet -->
          <link  rel="stylesheet" type="text/css"  th:href="@{css/ma_style.css}"  href="../static/css/ma_style.css" />
          <title>MyOrientation</title>
</head>
<body>
<!-- 	<header> -->
<!-- 		<div class="navbar navbar-default"> -->
<!-- 			<div class="pull-left"> -->
<!-- 				<span>Bienvenue sur MyOrientation!</span> -->
<!-- 			</div> -->
<!-- 			<div class="pull-right"> -->
<!-- 				<ul class="header-top-links"> -->
<!-- 					<li><a th:href="@{'/'}">Qui sommes-nous</a></li> -->
<!-- 					<li><a th:href="@{'/'}">Conditions Générales d'Utilisation</a></li> -->
<!-- 					<li><a th:href="@{'/'}">Politique de retour</a></li> -->
<!-- 					 <li class="dropdown default-dropdown">
<!--                         <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i class="fa fa-caret-down"></i></a> -->
<!--                         <ul class="custom-menu"> -->
<!--                             <li><a href="#">English (ENG)</a></li> -->
<!--                             <li><a href="#">Russian (Ru)</a></li> -->
<!--                             <li><a href="#">French (FR)</a></li> -->
<!--                             <li><a href="#">Spanish (Es)</a></li> -->
<!--                         </ul> -->
<!--                     </li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 			<br /> -->
<!-- 			<div class="container-fluid"> -->
<!-- 				<ul class="nav navbar-nav"> -->
<!-- 					<li><a th:href="@{/metiers}">Chercher</a></li> -->
<!-- 					<li><a th:href="@{/formMetier}">Métiers</a></li> -->
<!-- 				</ul> -->
<!-- 			</div> -->

<!-- 		</div> -->
<!-- 	</header> -->
<header>
    <!-- top Header -->
    <div id="top-header">
        <div class="container">
            <div class="pull-left">
                <span>Bienvenue sur MyOrientation!</span>
            </div>
            <div class="pull-right">
                <ul class="header-top-links">
                    <li><a th:href="@{'/'}">Qui sommes-nous</a></li>
                    <li><a th:href="@{'/'}">Conditions Générales d'Utilisation</a></li>
                    <li><a th:href="@{'/'}">Politique de retour</a></li>
                    <!--  <li class="dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i class="fa fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="#">English (ENG)</a></li>
                            <li><a href="#">Russian (Ru)</a></li>
                            <li><a href="#">French (FR)</a></li>
                            <li><a href="#">Spanish (Es)</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <!-- /top Header -->

    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                   
                        <h3>My<span style="color:#52b3d9;">O</span>rientation
                        </h3>
                   
                </div>
                <!-- /Logo -->

                <!-- Search -->
                <div class="header-search">
                    <form th:action="${searcheEcole}" method="get">
                        <input class="input search-input" type="text" placeholder="Trouvez une Ecole" name="mc">
                        <select class="input search-categories">
                            <option value="0">Par categorie</option>
                            <option value="1">Ville</option>
                            <option value="1">Type</option>
                            <option value="1">Privée/Public</option>
                           
                        </select>
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- /Search -->
            </div>
            <div class="pull-right">
                <ul class="header-btns">
                    <!-- Account -->
                    <li class="header-account dropdown default-dropdown">
                        <div  class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <strong  class="text-uppercase">Mon compte<i class="fa fa-caret-down"></i></strong>
                        </div>
                        <ul class="custom-menu">
                            <li><a href="#"><i class="fa fa-heart-o"></i> mes favourits</a></li>
                            <li sec:authorize="isAnonymous()"><a th:href="@{/monprofile}"><i class="fa fa-lock"></i> Se connecter</a></li>
                            <li sec:authorize="isAnonymous()"><a th:href="@{/inscrpcandidat}"><i class="fa fa-user-plus"></i> S'inscrire</a></li>
                        </ul>
                    </li>
                    <!-- /Account -->

                    
                    <!-- /Cart -->

                    <!-- Mobile nav toggle-->
                   
                </ul>
            </div>
        </div>
        <!-- header -->
    </div>
    <!-- container -->
</header>
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Accieul<i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a th:href="@{/home}"><i class="fa fa-home" aria-hidden="true"></i>
                    Accueil</a></li>
                    <li class="dropdown mega-dropdown full-width"><a th:href="@{/index}"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    Espace Administrateur</a></li>
                    <li><a th:href="@{/RechercherEtablissement}"><i class="fa fa-university" aria-hidden="true"></i>
                    Etablissement</a></li>
                    <li><a th:href="@{/mesMetiers}"><i class="fa fa-briefcase" aria-hidden="true"></i>
                    Mes métiers</a></li>
                  
                </ul>
            </div>
          
            
        </div>
    </div>
    <!-- /container -->
</div>
	<section layout:fragment="content">
		<div class="pu"></div>
	</section>
		
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<div class="footer-logo">
							
								<h2>
									<span style="color: #f2dede;">MyOrientation</span>
								</h2>
						
						</div>
						<!-- /footer logo -->

						<p>Bienvenue sur MyOrientation, Pour trouver le meilleur 
							meilleur parcoure d'étude correspondant à 
							le code RIASEC, Métiers, Formations et Etablissements
							!!</p>

						<!-- footer social -->
						<ul class="footer-social list-links-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
						<!-- /footer social -->
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Mon Compte</h3>
						<ul class="list-links-footer">
							<li><a th:href="@{/}">Metiers</a></li>
							<li><a th:href="@{/}">Etablissements</a></li>
							<li><a th:href="@{'/'}">Se connecter</a></li>
							<li><a th:href="@{'/'}">Se déconnecter</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">À PROPOS</h3>
						<ul class="list-links-footer">
							<li><a th:href="@{'/'}">Qui sommes-nous</a></li>
							<li><a th:href="@{'/'}">Conditions Générales
									d'Utilisation</a></li>
							<li><a th:href="@{'/'}">Politique de retour</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer subscribe -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Rejoignez nouss</h3>
						<p>Inscrivez-vous à nos communications pour trouver son
						orientation professionnelle!</p>
						<form>
							<div class="form-group">
								<input name="email" class="input" placeholder="Votre email">
							</div>
							<button class="primary-btn">Inscrit</button>
						</form>
					</div>
				</div>
				<!-- /footer subscribe -->
			</div>
			<!-- /row -->
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script>
						powred by MyOrientation
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->
	<script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/slick.min.js}"></script>
 <script th:src="@{js/nouislider.min.js}"></script>
<script th:src="@{js/jquery.zoom.min.js}"></script>
<script th:src="@{js/main.js}"></script>
</body>
</html>